<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <title>Testing Eleventy</title>
  <style media="screen">{% include "styles.css" %}</style>
</head>
<body class="body">
  <header>
    <h1 class="test t-header">Testing Eleventy</h1>
  </header>

  <ul>
  {%- for post in collections.post -%}
    <li>{{ post.data.title }} <a href="{{ post.url }}"> go to post</a></li>
  {%- endfor -%}
  </ul>

  <main>
    <article class="main-article">
      {{ content | safe }}
    </article>
  </main>

  <script>{% include "script.js" %}</script>
</body>
</html>
